Alex J. G. Burzyński <ajgb@cpan.org> <ajgb@ajgb.net>
Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Graham Ollis <plicease@cpan.org> <perl@wdlabs.com>
Timothy Legge <timlegge@gmail.com> <timlegge@cpan.org>
